.sugerencia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    position: relative;
    background:
        linear-gradient(rgba(255, 255, 255, 0.9), rgba(244, 235, 220, 0.7)),
        url("/src/assets/papel.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

.sugerencia .image-section,
.sugerencia .description {
    margin-top: 5rem;
}

.sugerencia #Capa_1 {
    width: 100vw;
    position: absolute;
    top: -5rem;
    left: 0;
}

.image-sugerencia {
    width: 40vw;
}

.sugerencia .description h2 {
    color: #ff6a00;
    font-size: 3rem; 
  font-family: "DM Sans", serif;
}

.sugerencia .description p {
    color: #333;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.sugerencia .description button {
    background: #ff6a00;
    color: #fff;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.sugerencia .shine {
    width: 30vw;
}

@media (max-width: 900px) {
    .sugerencia {
        flex-direction: column;
    }


    .image-sugerencia {
        width: 90vw;
    }


    .sugerencia .description h2 {
        width: 100%;
    }

    .sugerencia .description p {
        width: 100%;
    }


    .sugerencia .description button {
        width: 100%;
    }
}